span.boldy {
    font-weight: bold;
  }

#btn2 {
  width: 100%;
}

body {
   background-image: url('../img/omid-armin.jpg');
   background-repeat: no-repeat;
   background-attachment: fixed;
   background-size: cover;
}

.display-3{
  color:rgb(243, 138, 39);
}

.lead{
  color:whitesmoke
}

